@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Playfair+Display:wght@500&family=Raleway:wght@300&display=swap');

header {
    text-align: center;
    background-color: rgb(11, 54, 100);
    color: white;
    font-family: Lora, "Playfair Display", Times;
    border-radius: 10px;
}
.topic-box {
    background-color: rgb(44, 87, 133);
    color: white;
    padding-top: 3px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#grid {
    display: grid;
    grid-template-columns: repeat(3, 32.5%);
    grid-column-gap: 1em;
    align-items: center;
}
img {
    width: 98%;
}
p {
    font-family: Raleway, 'Times New Roman', Times;
}
#clean-design {
    grid-column: 1/2;
    height: 100%;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
}
#contrast {
    grid-column: 2/3;
    height: 100%;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
}
#alignment {
    grid-column: 3/4;
    height: 100%;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
}

#bottom-background {
    text-align: center;
    margin-top: 1em;
    background-color: rgb(11, 54, 100);
    color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3em 3em;
}
footer h3 {
    padding-top: 10px;
    grid-column: 1/5;
    grid-row: 1/2;
}
footer h4 {
    display: flex;
    justify-content: flex-end;
    grid-column: 2/3;
    grid-row: 2/3;
}
#updated-time {
    padding-top: 22px;
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
    grid-column: 3/5;
    grid-row: 2/3;
}