/* Small Phone View */

body {
    margin: 0 auto;
}

/* header */
header {
    background-color: pink;
    display: grid;
    grid-template-columns: 20% 40% 8% 8% 10%;
    grid-template-rows: 3em 3em 4em;
    align-items: center;
}
.header-logo {
    grid-row: 1/3;
}
.header-logo img {
    width: 75px;
    margin: 10px 10px;
}
header h1 {
    margin-bottom: -5px;
    grid-column: 2/3;
    grid-row: 1/2;
}
header h4 {
    margin-top: -1px;
    grid-column: 2/3;
    grid-row: 2/3;
}
.fb-icon {
    grid-row: 1/3;
}
.icon-img {
    width: 2em;
    margin: 0 5px;
}
.insta-icon {
    grid-row: 1/3;
}
.nav-box {
    grid-row: 1/3;
}
.date {
    grid-column: 2/5;
    grid-row: 3/4;
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
}
.navigation {
    list-style: none;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
}
.navigation a:hover {
    color: white;
    background-color: black;
}
/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

/* main */
main {
    margin: 0 1em;
}
.home-div, .spot1, .spot2, .spot3 {
    margin: 10px auto;
    height: auto;
    background-color: rgb(255, 250, 250);
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    width: 100%;
    text-align: center;
    align-items: center;
}
#banner {
    width: 100%;
    height: auto;
    margin-top: 0;
    color: rgb(255, 250, 250);
    background-color: rgb(229, 77, 102);
}
#hero {
    height: 100%;
    position: relative;
}
.hero-img {
    width: 100%;
}
.hero-button {
    position: absolute;
    top: 75%;
	right: 50px;
    height: 22px;
    width: 30%;
    color: rgb(255, 250, 250);
    background-color: rgb(229, 77, 102);
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    text-align: center;
}
.icon {
    width: 30%;
}
#weather-icon {
    width: 25%;
}
#weather-display {
    padding-left: 30%;
    background-color: transparent;
    border-style: none;
    display: flex;
    
}
#weather-display h3 {
    margin-left: .5em;
    font-size: 25px;
}
#line {
    margin-left: 5%;
    height: 1px;
    width: 90%;
    background-color: gray;
    border-style: none;
}
#spotlight-box {
    display: inline-block;
    height: 100%;
}
.spot1, .spot2, .spot3 {
    width: 95%;
    height: 100%;
}
.spot3, #join {
    display: none;
}

/* discover main*/
#taiwan-icon {
    height: 25px;
}
.discover-grid-box {
    display: block;
    padding-bottom: 2px;
    margin: 5% 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.discover-grid-box picture img {
    width: 100%;
}
.right-p, .left-p {
    margin: 0 10% 10% 10%;
}
.source-link {
    text-align: center;
}
.p-larger {
    font-size: 20px;
}
.demographics-margin {
    margin-left: 5%;
    margin-right: 5%;
}

/* footer*/
footer {
    margin-top: 20px;
    padding-bottom: 10px;
    background-color: pink;
    align-items: center;
    text-align: center;
}
footer img {
    width: 120px;
    padding: 10px;
}
.line-box {
    margin: 5px 2px;
    height: 1px;
    background-color: gray;
}
